.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

body {
  padding: 10px;
  font-family: sans-serif;
}

.container-flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-right {
  text-align: end;
}

.container-flex-space-between {
  display: flex;
  justify-content: space-between;
}